body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: yellow;
}
#tdSpan {
  background : yellow;
}
table {
  background-color: green;
}
td {
  background-color: yellow;
}
td.genere {
  background-color: red;
}
